<div class="row-offcanvas row-offcanvas-left">
	<%= render 'sidebar_category' %>
	<div id="main">
		<div class="col-md-12" >
			<p class="visible-xs" style="margin-top: 7px;margin-bottom: -7px;">
	            <img src="/assets/left.png" height="30px" width="30px" data-toggle="offcanvas">
	        </p>
			<div class="row">
				<div class="col-md-6" style="margin-top: 20px;">
					<div class="input-group">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</span>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 20px;">
				<div class="col-md-12">
					<%= render 'caraousel' %>
				</div>
			</div>
			<div class="row top" style="margin-top:20px;">
				<div class="col-md-12">
					<span style="margin-bottom: 10px;"><h2>Featured</h2></span>
					<div class="row">
						<div class="col-md-2 featured-item">
							<a href="/products/show">
								<%= image_tag 'p1.jpg', size: "150x150" %>
								<span>Alumunium Sheet</span>
							</a>
							<br><span>US $120.00/roll</span>

						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'p2.jpg', size: "150x150" %>
							<span>Liquid Nitrgen</span>
							<br><span>US $120.00/bottle</span>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'p3.jpg', size: "150x150" %>
							<span>HFCS 55</span>
							<br><span>US $50.00/bottle</span>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'p4.jpg', size: "150x150" %>
							<span>Steel Tube</span>
							<br><span>US $120.00/tube</span>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'p5.jpg', size: "150x150" %>
							<span>Steel Tube(square)</span>
							<br><span>US $120.00/tube</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row top" style="margin-top:20px;">
				<div class="col-md-12">
					<span style="margin-bottom: 10px;"><h2>Best Rated</h2></span>
					<div class="row">
						<div class="col-md-2 featured-item">
							<%= image_tag 'p6.jpg', size: "150x150" %>
							<span>Wood Logs</span>
							<br><span>US $120.00</span>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'p7.jpg', size: "150x150" %>
							<span>Silicon ore</span>
							<br><span>US $120.00</span>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'p8.jpg', size: "150x150" %>
							<span>Magnetic Sheet</span>
							<br><span>US $120.00</span>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'p9.jpg', size: "150x150" %>
							<span>Rubber Sheet</span>
							<br><span>US $120.00</span>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'p10.jpg', size: "150x150" %>
							<span>Ring Magnet</span>
							<br><span>US $120.00</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= render 'layouts/footer' %>
	</div>

</div>
