<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<h1>Transaction History</h1>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-10" style="margin-top:10px;margin-left:20px;">
						<div class="row">
							transaction number: 1010231144
						</div>
						<div class="row" style="margin-top:5px;border-bottom: 2px solid #ccc;">
							<div class="col-md-10">
								<div class="row">
									<div class="col-md-2">
										<div class="row"><%= image_tag 'p1.jpg', size: "80x80" %></div>
										<div class="row">quantity : 5</div>
										<div class="row">price : $600</div>
									</div>
									<div class="col-md-2">
										<div class="row"><%= image_tag 'p2.jpg', size: "80x80" %></div>
										<div class="row">quantity : 5</div>
										<div class="row">price : $600</div>
									</div>
									<div class="col-md-2">
										<div class="row"><%= image_tag 'p4.jpg', size: "80x80" %></div>
										<div class="row">quantity : 5</div>
										<div class="row">price : $600</div>
									</div>
									<div class="col-md-2">
										<div class="row"><%= image_tag 'p7.jpg', size: "80x80" %></div>
										<div class="row">quantity : 5</div>
										<div class="row">price : $600</div>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div>
									buyer: user 1
									Shipping date: 1 - january - 2012
									Payment method: cash
								</div>
							</div>						
						</div>
						<div class="row" style="margin-top:30px;">
							transaction number: 1010231144
						</div>
						<div class="row" style="margin-top:5px;border-bottom: 2px solid #ccc;">
							<div class="col-md-10">
								<div class="row">
									<div class="col-md-2">
										<div class="row"><%= image_tag 'p1.jpg', size: "80x80" %></div>
										<div class="row">quantity : 5</div>
										<div class="row">price : $600</div>
									</div>
									<div class="col-md-2">
										<div class="row"><%= image_tag 'p2.jpg', size: "80x80" %></div>
										<div class="row">quantity : 5</div>
										<div class="row">price : $600</div>
									</div>
									<div class="col-md-2">
										<div class="row"><%= image_tag 'p4.jpg', size: "80x80" %></div>
										<div class="row">quantity : 5</div>
										<div class="row">price : $600</div>
									</div>
									<div class="col-md-2">
										<div class="row"><%= image_tag 'p7.jpg', size: "80x80" %></div>
										<div class="row">quantity : 5</div>
										<div class="row">price : $600</div>
									</div>
								</div>
							</div>
							<div class="col-md-2">
								<div>
									buyer: user 1
									Shipping date: 1 - january - 2012
									Payment method: cash
								</div>
							</div>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

