<div class="row" style="margin-top: 15px;">
	<div class="col-md-3">
		<%= image_tag 'product.jpeg', size: "250x250" %><br>
		<div class="input-group">
			<button class="btn btn-default cart-btn">Add to cart<span class="glyphicon glyphicon-shopping-cart" style="margin-left: 2px;"></span></button>
		</div>
	</div>
	<div class="md-col 8">
		<div class="row-fluid">
			<div class="col-md-7" style="margin-left: 37px;">
				<h2>Overview</h2>
			</div>
		</div>
		<div class="row-fluid">
			<div class="col-md-3">
				<ul class="product-detail">
					<li>Company</li>
					<li>Price</li>
					<li>Min. order quantity</li>
					<li>Origin</li>
					<li>Rating</li>
					<li>Description</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="product-detail">
					<li>Foobar</li>
					<li>150-160e</li>
					<li>500</li>
					<li>Indonesia</li>
					<li>4.0</li>
					<li>asfafasfasdasdsafdbfgnfngf</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row top-border" style="margin-top: 50px;">
	<div class="col-md-8" style="margin-top: -10px;">
		<div class="row">
			<div class="col-md-7">
				<h2 id="detail">Detail</h2>
			</div>
		</div>
		<div class="row" style="margin-left: -53px;">
			<div class="col-md-4">
				<ul class="product-detail">
					<li>Material</li>
					<li>Dimension</li>
					<li>Weight</li>
					<li>Color</li>
					<li></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="product-detail">
					<li>Wood</li>
					<li>24 x 24 x 24</li>
					<li>240 KG</li>
					<li>Brown</li>
					<li></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row top-border" style="margin-top: 50px;">
	<div class="col-md-12" style="margin-top: -10px;">
		<div class="row">
			<div class="col-md-7">
				<h2 id="Galery">Galery</h2>
			</div>
		</div>
		<div class="row" style="margin-left: 0px;">
						<div class="col-md-2 featured-item">
							<%= image_tag 'product.jpeg', size: "150x150" %>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'product.jpeg', size: "150x150" %>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'product.jpeg', size: "150x150" %>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'product.jpeg', size: "150x150" %>
						</div>
						<div class="col-md-2 featured-item">
							<%= image_tag 'product.jpeg', size: "150x150" %>
						</div>
		</div>
	</div>
</div>

